.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* White background */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow */
  z-index: 1000; /* On top of all content */
}

.nav-action {
  color: #0057ff; /* Primary brand color */
}

.nav-action.Mui-selected {
  color: #ffdb5c; /* Highlight color */
}
