/* Sidebar.css */

/* Sidebar container */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #0057FF; 
    transition: left 0.3s ease;
    z-index: 1000; 
    color: #0057FF; 
  }
  
  .sidebar.open {
    left: 0; /* Sidebar slides in */
  }
  
  .sidebar-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  /* Sidebar list items */
  .sidebar-item {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Match the text size */
    padding: 10px 20px;
    color: #0057FF;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
  }
  
  .sidebar-item:hover {
    background-color: #ffdb5c; 
    transform: translateX(5px); 
    cursor: pointer;
  }
  
  .sidebar-icon {
    color: #0057FF; 
  }
  
  /* Sidebar text */
  .sidebar-text {
    color: #0057FF; 
  }
  
  /* Close button in sidebar */
  .MuiIconButton-root:hover {
    background-color: #ffdb5c; 
  }
  